body {
  background-color: black;
  font-family: Papyrus;
  color: white;
}
#sideBar {
  float: left;
  width: 300px;
  margin-top: 150px;
  margin-left: 70px;
}
button {
  height: 50px;
  width: 100px;
  border-style: ridge;
  background-color: black;
  color: white;
  font-family: Papyrus;
}
#mainContainer {
  height: 410px;
  width: 470px;
  border-style: ridge;
  background-color: #2B2B2B;
  float: left;
}
li {
  height: 47px;
  width: 70px;
  margin: 10px;
  border-style: ridge;
  list-style: none;
  float: left;
}
#clickCounter {
  width: 150px;
  height: 100px;
  margin-left: 100px;
  margin-top: 150px;
  float: left;
  border-style: ridge;
  text-align: center;
  padding-top: 10px;
}
